.env
serviceAccountKey.json
**/serviceAccountKey.json
paf-bot/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/dist/
/build/
/.venv/
/venv/
.idea/
.vscode/
